<%- include('header.ejs') %>
<%- include('top.ejs') %>
<body>
    <div class="container-fluid bg-white" >
        <div class="container">
          <div class="row">
            <div style="display: flex;" class="col-9 p-2">
              <div class="client-id col-4" style="display: flex;">
                 <div style="margin-right: 5px;">ClientID:</div>
                 <div class="client-id" style="margin-right: 50px;">
                   <input type="number" name="clientid" id="clientid" value=<%=transactionID%> class="form-control"  disabled>
                </div>
              </div>
              <div style="display: flex;" class="col-5">
                 <div style="margin-right: 5px;">fullname:</div>
                 <div class="fullname">
                   <input type="text" name="fullname" id="fullname" class="form-control"  value =<%=fullname%> > 
                 </div>
              </div>
            </div>
             <div class="col p-2" style="display: flex; justify-content: end;">
              <button type="button"  class="btn btn-outline-primary" id="presetbtn">preset</button>
             </div>
          </div>
        </div>
      </div>
      <div  class="d-none" id="m-a-top">
        <div class="p-2 text-dark" id="m-a-show">

        </div>
      </div>
   <div class="panel-divider">
       <div class="panell" id="panel-1">
        <div class="grouper-sidebar">
            <div class="search">
                <input type="number" name="" id="searchid" placeholder="search with client id">
            </div>
            <div class="group-list">
                 <ul id="look">
                     
                 </ul>
            </div>
        </div>
       </div>
       <div class="panell" id="panel-2">
        <section>
            <form action="/abdominal" id="abdominalform" state ="new">
                <div class="form-row">
                    <label for="">liver</label>
                    <textarea id="liver" class="form-control" name="liver"> </textarea>
                </div>
                <div class="form-row">
                    <label for="">kidneys</label>
                    <textarea id="kidneys" class="form-control" name="kidneys"> </textarea>
                </div>
                <div class="form-row">
                    <label for="">spleen</label>
                    <textarea id="spleen" class="form-control" name="spleen" cols="30" rows="3"> </textarea>
                </div>
                <div class="form-row">
                    <label for="">pancreas</label>
                    <textarea id="pancreas" class="form-control" name="pancreas" cols="30" rows="3"> </textarea>
                </div>
                <div class="form-row">
                    <label for="">abdominal cavity</label>
                    <textarea id="cavity" class="form-control" name="cavity" cols="30" rows="3"> </textarea>
                </div>
                <div class="form-row">
                    <label for="">other findings</label>
                    <textarea id="ofindings" class="form-control" name="ofindings" cols="30" rows="3"> </textarea>
                </div>
                <hr>
                <div class="form-row">
                    <label for="">impression</label>
                    <textarea id="impression" class="form-control" name="impression" cols="30" rows="3"> </textarea>
                </div>
                <div class="form-row">
                    <button type="button" class="btn btn-outline-success mt-3" id="saveBtn">save</button>
                </div>
            </form>
        </section>
       </div>
       <div class="panell" id="panel-3">
           <section>
            <div class="grouper">
                <label for="">liver</label>
                <div>
                    <input class="short-input" placeholder="length" type="number" name="len" id="liverlen">
                    <input class="short-input" placeholder="width" type="number" name="width" id="liverwidth">
                </div>
            </div>
            <div class="grouper">
                <label for="">spleen</label>
                <div>
                    <input class="short-input" placeholder="length" type="number" name="len" id="spleenlen">
                    <input class="short-input" placeholder="width" type="number" name="width" id="spleenwidth">
                </div>
            </div>
            <div class="grouper">
                <label for="">kidneys</label>
                <div style="display: flex;">
                    <div class="grouper">
                        <label for="">Right</label>
                        <div>
                            <input class="short-input-2" placeholder="length" type="number" name="len" id="rtkidneylen">
                            <input class="short-input-2" placeholder="width" type="number" name="width" id="rtkidneywidth">
                        </div>
                    </div>
                    <div class="grouper">
                        <label for="">Left</label>
                        <div>
                            <input class="short-input-2" placeholder="length" type="number" name="len" id="ltkidneylen">
                            <input class="short-input-2" placeholder="width" type="number" name="width" id="ltkidneywidth">
                        </div>
                    </div>
                </div>
            </div>
           </section>
       </div>
       <div class="panell">
           <div>
               <input type="search" class="form-control" placeholder="search preset titles here" id="preset_search">
           </div>
           <div class="list-group mt-2" id="presetUL">

           </div>
       </div>
   </div>
   <script src="/js/abdominal.js"></script>
</body>