<section>
    <form action="/abdominal">
        <div class="form-row">
            <label for="">liver</label>
            <textarea id="liver" class="form-control" name="liver"> </textarea>
        </div>
        <div class="form-row">
            <label for="">kidneys</label>
            <textarea id="kidneys" class="form-control" name="kidneys"> </textarea>
        </div>
        <div class="form-row">
            <label for="">spleen</label>
            <textarea id="spleen" class="form-control" name="spleen" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">pancreas</label>
            <textarea id="pancreas" class="form-control" name="pancreas" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">other findings</label>
            <textarea id="ofindings" class="form-control" name="ofindings" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">uterus</label>
            <textarea id="uterus" class="form-control" name="uterus" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">ovaries</label>
            <textarea id="ovaries" class="form-control" name="ovaries" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">adnexa</label>
            <textarea id="adnexa" class="form-control" name="adnexa" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">impression</label>
            <textarea id="impression" class="form-control" name="impression" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <button class="btn btn-primary">save</button>
        </div>
    </form>
</section>