<%- include ("header.ejs") -%>
<body style="background-image: url('/asserts/background.jpg'); background-color: whitesmoke;">
    <!-- header of the page -->
    <div class="container-fluid bg-primary p-3 text-white">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h4>New User</h4>
                </div>
               
            </div>
        </div>
    </div>
    <!-- login section of the page -->
   <div class="container-fluid" >
       <div class="container">
           <div class="row">
               <div class="col" >
                   <form action="/newUser" method="post" style="margin: 0px 350px 0px 350px; background-color: white; padding: 40px 40px; border: 1px solid lightgray; overflow-y: auto; ">
                        <div class="message" style="display: none;">
                            <div class="alert alert-primary">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit quaerat, modi quidem quam nemo ducimus sit debitis maxime numquam dolor.
                            </div>
                        </div>
                        <label for="" class="mb-3">username</label>
                        <input type="text" name="username"  required autocomplete="username" autofocus id="username" class="form-control">
                        <label for="" class="mb-3">password</label>
                        <input type="password" name="passoword" required  id="password" class="form-control">
                        <label for="">role</label>
                        <select name="role" id="role" class="form-control">
                            <option value="sonographer">sonographer</option>
                            <option value="customer_services_attendant">Customer service</option>
                            <option value="management">management</option>
                        </select>
                        <label for="">edit</label>
                         <select name="edit" id="edit" class="form-control">
                             <option value="false">false</option>
                             <option value="true">true</option>
                         </select>
                         <label for="">delete</label>
                         <select name="delete" id="delete" class="form-control">
                             <option value="false">false</option>
                             <option value="true">true</option>
                         </select>
                         <label for="">register</label>
                         <select name="register" id="register"class="form-control">
                             <option value="false">false</option>
                             <option value="true">true</option>
                         </select>
                         <label for="">access</label>
                          <select name="access" id="access" class="form-control">
                            <option value="fullaccess">fullaccess</option>
                            <option value="customer service">customer service</option>
                            <option value="scan room">scan room</option>
                            <option value="management">management</option>
                          </select>
                         <label for="">contact</label>
                         <input type="tel" name="contact" maxlength="10" minlength="10" size="10" placeholder="0249434803"  id="contact" class="form-control">
                        <button type="button" class="btn btn-outline-primary" id="addUserBtn" style="margin-top: 20px; padding: 10px 20px; border-radius: 15px;" >Add User</button>
                   </form>
               </div>
           </div>
       </div>
   </div>
   <script src="/js/logins.js"></script>
</body>