<section>
    <div class="form-row">
        <label for="">breast findings</label>
        <textarea name="breast" id="breast"  class="form-control" cols="30" rows="3"></textarea>
    </div>
    <div class="form-row">
        <label for="">impression</label>
        <textarea name="impression" id="impression"  class="form-control" cols="30" rows="3"></textarea>
    </div>
    <div class="form-row">
        <button class="btn btn-primary">save</button>
    </div>
</section>