<%- include('header.ejs') %>
<body>
  <section>
      <form action="" method="post" class="crl">
         <label for="">
              fetus number
             <input type="text" class="form-control">
         </label>
      </form>
  </section>
</body>