<%- include("header") %>
<%- include('top.ejs') %>
<body>
     <div class="container-fluid">
         <div class="container">
             <div class="row">
                 <div class="col" style="line-height: 50px;">
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit maiores blanditiis autem, aperiam rerum temporibus, aspernatur omnis ratione ex ullam quasi voluptates hic nemo, laudantium modi beatae repudiandae officiis incidunt ea. Qui officiis excepturi ipsum hic, atque accusantium labore reprehenderit voluptates consequatur dicta quidem totam nesciunt, fugit tempora odit mollitia provident soluta assumenda est, corrupti temporibus exercitationem quos fuga? Blanditiis enim assumenda laboriosam odit nemo cum maxime praesentium accusamus. Exercitationem autem dolorem aspernatur distinctio dolores voluptate ipsum rerum, maxime fugit, vitae tenetur laudantium nam labore, porro voluptas consequuntur modi assumenda. Odio esse incidunt minima fugiat voluptatem similique vitae. A, vitae adipisci! Voluptates tenetur maxime nostrum, possimus debitis tempora vero mollitia, error, nihil ratione quia excepturi impedit voluptas! Repellendus cum, dignissimos nihil eos fuga molestiae reiciendis perferendis tempora impedit facilis numquam aut magnam eius odio optio a commodi porro architecto suscipit soluta maxime veritatis quidem ipsa praesentium. Eos distinctio cupiditate, unde praesentium alias ex neque quod deserunt rerum est accusantium delectus eius repellat. Nostrum, facere. Molestias, perferendis, hic eius provident dolor maiores, sunt magnam ea explicabo facilis fugiat sed saepe a necessitatibus nulla! Amet reiciendis eos optio aspernatur quae eveniet dignissimos eum? Placeat omnis voluptatum illo alias ullam perferendis aliquam aut.wef3r4we
                 </div>
             </div>
         </div>
     </div>  
</body>
<%- include("footer") %>