<%- include('header.ejs') %>
<body>
    <%- include('top.ejs') %>
   <section style="display: grid; grid-template-columns: 15% auto;">
       <aside>
        <%- include('sidebar.ejs') %>
       </aside>
       <main>
           <section id="top-section">
            <div>
                <div style="display: none;" class="alert alert-primary" id="messagesDx">

                </div>
            </div>
              <div id="search-query">
                <input type="number" id="sharp-search" class="form-control" style="display: flex; justify-content: flex-end; width: 200px;">
                <button type="button" class="btn btn-primary" style="padding: 10px 30px; border-radius: 30px;">search</button>
              </div>
            </section>
           <section id="registration">
               <form action="" id="registration-form">
                    <div class="split">
                        <div class="form-row">
                            <label for="fullname">fullname</label>
                            <input type="text" required class="form-control" id="fullname">
                         </div>
                         <div class="form-row">
                          <label for="gender">gender</label>
                          <select required name="gender" id="gender" class="form-control">
                              <option value="female">female</option>
                              <option value="male">male</option>
                              <option value="other">other</option>
                          </select>
                       </div>
                       <div class="form-row">
                          <label  for="age">age</label>
                          <div class="split">
                            <input  required type="number" class="form-control" id="age">
                            <select name="years" id="years" class="form-control">
                                <option value="years">years</option>
                                <option value="months">months</option>
                                <option value="day">day</option>
                            </select>
                          </div>
                       </div>
                       <div class="form-row">
                          <label for="scan">scan</label>
                          <input type="text" class="form-control" id="scan" list ="scanlist" multiple>
                          <datalist name="scan" id="scanlist">
      
                          </datalist>
                       </div>
                    </div>
                    <div class="split">
                        <div class="form-row">
                            <label for="referer">referer</label>
                             <input  class="form-control" id="referer" list="refererlist">
                            <datalist required name="referer" id="refererlist">
                                
                            </datalist>
                         </div>
                         <div class="form-row">
                            <label for="institution">institution</label>
                            <input  name="institution" id="institution" class="form-control" list="institutionlist">
                            <datalist  required id="institutionlist" name="institution">
                              
                            </datalist>
                         </div>
                         <div class="form-row">
                            <label for="payment-mode">payment mode</label>
                            <select name="payment-mode" id="paymentMode" class="form-control">
                                <option value="cash">cash</option>
                                <option value="momo">momo</option>
                            </select>
                         </div>
                         <div class="form-row">
                            <label for="amount-paid">amount paid</label>
                            <input  required type="number" class="form-control" id="amount-paid">
                         </div>
                         <div class="form-row">
                            <label for="discount">discount</label>
                            <input type="discount" class="form-control" id="discount">
                         </div>
                         <div class="form-row">
                             <label for="state">state</label>
                             <select name="state" id="state" class="form-control">
                                 <option value="in pains">in pains</option>
                                 <option value="empty bladder">empty bladder</option>
                                 <option value="null">null</option>
                             </select>
                         </div>
                         <div class="form-row"  id="transac-parent">
                            <label for="transaction">transaction id</label>
                            <input type="number" class="form-control" id="transaction">
                         </div>
                    </div>
                 <div class="form-row mt-3">
                     <button type="button" class="btn btn-outline-primary">save</button>
                     <button type="button" class="btn btn-outline-info" id="cancelButton">cancel</button>
                     <button type="button" class="btn btn-outline-danger">delete</button>
                 </div>
               </form>
           </section>
           <section itemid="client-list">
               <table>
                   <thead>
                       <th>transactionid</th>
                       <th>fullname</th>
                       <th>scan</th>
                       <th>state</th>
                       <th>resolution</th>
                       <th>time elapsed</th>
                       <th>action</th>
                   </thead>
                   <tbody>
                       <tr>
                           <td>12463783993</td>
                           <td>dr jake akin yin</td>
                           <td>abdominal scan</td>
                           <td>uncompleted</td>
                           <td>empty baldder</td>
                           <td>resolution</td>
                           <td>editing</td>
                       </tr>
                   </tbody>
               </table>
           </section>
       </main>
   </section>
   <script src="js/registration.js"></script>
</body>