<%- include('header.ejs') %>
<%- include('top.ejs') %>
<body>
  <div class="container-fluid bg-white">
    <div class="container">
      <div class="row">
        <div style="display: flex;" class="col-9 p-2">
          <div class="client-id col-4" style="display: flex;">
             <div style="margin-right: 5px;">ClientID:</div>
             <div class="clientid" style="margin-right: 50px;">
               <%= transactionID %> 
            </div>
          </div>
          <div style="display: flex;" class="col-5">
             <div style="margin-right: 5px;">fullname:</div>
             <div class="fullname">
                <%= fullname %> 
             </div>
          </div>
        </div>
         <div class="col p-2" style="display: flex; justify-content: end;">
          <button type="button" class="btn btn-outline-secondary">preset</button>
         </div>
      </div>
    </div>
  </div>
  <section style="display: grid; grid-template-columns: 20% 60% 20%;  background-color: rgba(168, 9, 9, 0.103);">
     <div class="container-fluid bg-white">
         <div class="alert alert-warning">
             <div class="sid-alert-message">

             </div>
         </div>
     </div>
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col"  style="display: flex; justify-content: center;">
              <form name="msd-form" action="" method="post" class="crl" style="height: 600px; width: 700px; overflow-y: auto; padding: 10px;">
                <label for="">pregnancy location</label>
                <select name="pl" id="pl" class="form-control">
                  <option value="intrauterine">intrauterine</option>
                  <option value="extrauterine">extrauterine</option>
                  <option value="heterotopic">heterotopic</option>
                </select>
                 <label for="">yolk sac </label>
                 <select name="ys" id="ys" class="form-control" >
                   <option value="present">present</option>
                   <option value="absent">absent</option>
                   <option value="not yet">not yet</option>
                 </select>
                 <label for="">gsd</label>
                 <input type="number" min="10" max="29" step="1" value="10" name="gsd" id="gsd" class="form-control">
                 <label for="">gestational age</label>
                 <div class="d-flex">
                    <input type="number" value="4" max="14" step="1" min="4" name="gs" id="gs" class="form-control mr-5" placeholder="weeks">
                    <input type="number" value="0" max="6" step="1" min="0" name="gs-d" id="gs-d" class="form-control ml-5" placeholder="days">
                 </div>
                 <label for="">edd</label>
                 <input type="date" name="edd" id="edd" class="form-control">
                 <label for="">ovaries</label>
                 <textarea name="ovaries" id="ovaries" class="form-control" cols="30" rows="3"></textarea>
                 <label for="">adnexa</label>
                 <textarea name="adnexa" id="adnexa" cols="30" class="form-control" rows="3"></textarea>
                 <label for="">abnormal findings</label>
                 <textarea name="ab" id="ab" cols="30" rows="3" class="form-control"></textarea>
                 <label for="">impression</label>
                 <textarea name="impression" id="impression" cols="30" rows="5" class="form-control"></textarea>
                 <button type="button" class="btn btn-outline-success mt-3 d-flex" id="save">save</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-white">
         <div class="sid-wrapper">
            <div class="list-group">
              <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
                 <div class="title" style="font-size: 13px;">
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
                 </div>
                 <div class="view-btn">
                    <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
                 </div>
              </div>
              <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
                <div class="title" style="font-size: 13px;">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
                </div>
                <div class="view-btn">
                   <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
                </div>
             </div>
             <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
              <div class="title" style="font-size: 13px;">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
              </div>
              <div class="view-btn">
                 <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
              </div>
           </div>
           <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
            <div class="title" style="font-size: 13px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
            </div>
            <div class="view-btn">
               <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
            </div>
         </div>
              
         </div>
             
            </div>
         </div>
      </div>
  </section>
  <script src="/js/msd.js"></script>
</body>