<section>
         <label for="">uterus</label>
            <textarea id="uterus" class="form-control" name="uterus" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">right ovary</label>
            <textarea id="rtovary" class="form-control" name="right-ovary" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">left ovary</label>
            <textarea id="ltovary" class="form-control" name="left-ovary" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">adnexa</label>
            <textarea id="adnexa" class="form-control" name="adnexa" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">pouch of douglas</label>
            <textarea id="pod" class="form-control" name="pod" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <label for="">impression</label>
            <textarea id="impression" class="form-control" name="impression" cols="30" rows="3"> </textarea>
        </div>
        <div class="form-row">
            <button class="btn btn-primary">save</button>
        </div>
</section>