<%- include('header.ejs') %>
<%- include('top.ejs') %>
<body>
<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group">
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            abdominal pelvic scan
                        </div>
                        <div>
                            <button type="button"  class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            abdominal scan
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            urological scan
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            pelvic scan
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            breast scan
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            obstetrics  scan (CRL)
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                    <div class="list-group-item d-flex">
                        <div class="scan-type col-11">
                            fetal anomally scan
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-primary">view</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
</body>
<%- include('footer.ejs') %>