<div class="container-fluid bg-white">
    <div class="sid-wrapper">
         <input type="search" class ="form-control mb-3" placeholder="search preset here" style="width:100%; display:flex; justify-content:center; " />
    </div>
    <div class="sid-wrapper">
        <form style="overflow: auto; height: 500px;" id="msd-preset">
             <label for="">title</label>
             <input type="text" class="form-control" id="title-preset">
            <label for="">location</label>
            <select name="location-preset" id="location-preset" class="form-control">
               <option value="extrauterine">extrauterine</option>
               <option value="intrauterine">intrauterine</option>
               <option value="heterotopic">heterotopic</option>
            </select>
            <label for="">yolk sac</label>
            <select name="yolk-preset" id="yolk-preset" class="form-control">
               <option value="absent">absent</option>
               <option value="not yet">not yet</option>
               <option value="present">present</option>
            </select>
            <label for="">ovaries</label>
            <textarea name="ovaries-preset" id="ovaries-preset" cols="30" rows="4" placeholder="type something..."></textarea>
            <label for="">adnexa</label>
            <textarea name="adnexa-preset" id="adnexa-preset" cols="30" rows="4" placeholder="type something..."></textarea>
            <label for="">abnormal findings</label>
            <textarea name="abnormal-preset" id="abnormal-preset" cols="30" rows="4" placeholder="type something..."></textarea>
            <label for="">impression</label>
            <textarea name="impression-preset" id="impression-preset" cols="30" rows="4" placeholder="type something..."></textarea>
            <button type="button" class="btn btn-outline-primary">save</button>
         </form>
    </div>
    <div class="sid-wrapper d-none">
       <div class="list-group">
         <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
            <div class="title" style="font-size: 13px;">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
            </div>
            <div class="view-btn">
               <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
            </div>
         </div>
         <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
           <div class="title" style="font-size: 13px;">
             Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
           </div>
           <div class="view-btn">
              <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
           </div>
        </div>
        <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
         <div class="title" style="font-size: 13px;">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
         </div>
         <div class="view-btn">
            <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
         </div>
      </div>
      <div class="list-group-item" style="display: grid; grid-template-columns: 90% 10%;">
       <div class="title" style="font-size: 13px;">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, corporis.
       </div>
       <div class="view-btn">
          <button type="button" style="padding: 3px 6px;" class="btn btn-primary">fill</button>
       </div>
    </div>
         
       </div>
        
       </div>
    </div>

</div>
