<%- include('header.ejs') %>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="pictorial">
                        <div>
                            <img src="" alt="">
                        </div>
                    </div>
                    <div class="credentials">

                    </div>
                    <div class="analytics">

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>