<section id="top-section">
    <div>
        <div style="display: none;" class="alert alert-primary" id="messagesDx">

        </div>
    </div>
      <div id="search-query">
        <input type="number" id="sharp-search" class="form-control" style="display: flex; justify-content: flex-end; width: 200px;">
        <button type="button" class="btn btn-primary" style="padding: 10px 30px; border-radius: 30px;">search</button>
      </div>
</section>