<%- include('header.ejs') %>
<%- include('top.ejs') %>
<div class="top-wrapper" style="background-color: white;display: grid; grid-template-columns: 15% 15% 15% auto;">
    <div class="sidebar">
        <%- include('sidebar.ejs') %>
    </div>
    <div class="loggersbar">
        <div class="search-wrapper-settings">
            <input type="search" name="" id="settings-search" class="form-control">
        </div>
        <ul>
            <li>institution</li>
            <li><button class="btn btn-success">new</button></li>
        </ul>
        <ul>
            <li>referer</li>
            <li><button class="btn btn-success">new</button></li>
        </ul>
        <ul>
            <li>scan price</li>
            <li><button class="btn btn-success">new</button></li>
        </ul>
        <ul>
            <li>states</li>
            <li><button class="btn btn-success">new</button></li>
        </ul>
    </div>
    <div>

    </div>
    <div class="mainbar">

    </div>
</div>

<%- include('footer.ejs') %>
