<div class="container-fluid  text-white text-capitalize p-2" style="background-color: #075E54 ;">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3><a href="/" style="color: white; text-decoration: none;">sonosoft</a></h3>
            </div>
            <div class="col-8">
                <input type="search" id="search-id" name="search-id" id="form-control" class="form-control">
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>
