<div class="container-fluid bg-success text-white text-capitalize p-2">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>sonosoft</h3>
            </div>
            <div class="col-8">
                <input type="search" name="search-id" id="form-control" class="form-control">
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</div>