<div class="container-fluid bg-white">
    <div>
       <div class="search">
         <input type="number" name="" id="searchid" placeholder="search with client id">
     </div>
     <div class="group-list">
         <ul id="look">
            
         </ul>
     </div>
    </div>
    <div class="alert alert-danger d-none">
        <div class="sid-alert-message">
          warning: 
        </div>
    </div>
    <div class="alert alert-info d-none">
     <div class="sid-alert-message">
        Action: 
     </div>
 </div>
</div>