.loggersbar{
    margin:0;
    padding: 0;
    background-color: whitesmoke;
    .search-wrapper-settings{
        padding: 10px 10px;
    }
    ul{
        margin: 0;
        padding:10px;
        display: grid;
        grid-template-columns: 80% 20%;
        font-family: Arial, Helvetica, sans-serif;
        li{
            list-style-type: none; 
            text-transform: capitalize;
        }
        .button-times{
            padding: 3px 4px;
            border: 1px solid lightgray;
            border-radius: 5px;
            font-size: small;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: whitesmoke;
            svg{
                font-size: smaller;
                color: green;
            }
            .text{
                font-size: 14px;
                margin-left: 3px;
            }
        }
        .button-times:hover{
            border: 2px solid green;
            border-radius: 5px !important;
        }

    }
    ul:hover{
        background-color: white;
        color: black;
    }

    
}
#thirdbar{
    background-color: lightgray;
    padding: 10px 20px;
}

th{
    font-size: 15px !important;
    color: gray;
    font-weight: 400;
}

.template-list-section{
    margin: 0;
    padding: 0;
    .wrapper{
        display: grid;
        padding: 5px 10px;
        grid-template-columns: 50% auto;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        .items{
            border: 1px solid lightgray;
            padding: 10px 10px;
            display: grid;
            grid-template-columns: 80% auto;
            border-radius: 5px;
            svg{
                font-size: 25px !important;
                color: aquamarine;
            }
        }
        .items:hover{
            background-color: whitesmoke;
            color: black;
            border: 2px solid black;
        }
        .items:visited{
            border: 1px solid whitesmoke;
        }
    }
}

#modal-sonoqueue-view{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.212);
    width: 100%;
    height: 100vh;
    display: none;
    #content{
       margin-top: 0;
       margin-left: 75%;
       height: 100vh;
       background-color: white;
       transition: 300ms ease-in-out;
       .top-section{
           position: relative;
           top: 0;
           text-align: center;
           font-size: 30px !important;
           background-color: whitesmoke;
       }
       #history-section{
           padding: 10px 20px;
       }
    } 
}

.close{
   display: none;
}
.open{
    display: block;
}

#close-wrapper{
    border: 1px solid lightgray;
    background-color: red;
    color: white;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    left: 85%;
}
.lightred {
    border: 1px solid red !important;
    border-radius: 5px !important;
    color: red !important;
}

input:invalid {
    border: 1px solid red !important;
    color: red !important;
}
#look{
    list-style-type: none;
    li{
        list-style-type: none;
        border-bottom: 1px solid lightgray;
        padding: 5px 5px;
        display: "block";
    }
    li:hover{
        color: blue;
        border-color: whitesmoke;
        cursor: pointer;
    }
}
#msd-preset{
   label{
       color: gray;
       font-size: 14px;
       text-transform: capitalize;
   }
   select,input{
       height: 40px;
       border: 1px solid brown;
   }
   textarea{
       border-radius: 5px !important;
       border: 1px solid brown !important;
       resize: none;
       font-size: 14px;
   }
}